In [2]:
import warnings
warnings.filterwarnings('ignore')

# Importing all required packages
import numpy as np
import pandas as pd

# Data viz lib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from matplotlib.pyplot import xticks

In [3]:
data = pd.read_csv('routines.csv')
exclude_list = ["Living_Room Exhaust_Fan","Living_Room Water_Heater", "Living_Room Faucet", "Living_Room Refrigerator", "Living_Room Baby_Monitor", "Bedroom Exhaust_Fan","Bedroom Water_Heater", "Bedroom Faucet", "Bedroom Refrigerator", "Bathroom Refrigerator", "Bathroom Baby_Monitor", "Bathroom AC", "Bathroom TV", "Bathroom Speaker", "Playroom Exhaust_Fan", "Playroom Faucet", "Playroom Refrigerator",  "Playroom Water_Heater",  "Kitchen Baby_Monitor", "Kitchen TV", "Kitchen Speaker"]
for i in range(5):
    for j in exclude_list:
        data = data[~data['routine_info_'+str(i+1)].astype(str).str.contains(j, na=False)]
data.head()

,start_time,end_time,routine_info_1,routine_info_2,routine_info_3,routine_info_4,routine_info_5
0,9,10,Bedroom AC ON 18°C Speaker OFF Lamp OFF,Living_Room TV OFF,NaN,NaN,NaN
2,17,19,Kitchen Lamp OFF Speaker ON 95% TV OFF,Living_Room Lamp OFF AC ON 26°C TV OFF Speaker...,NaN,NaN,NaN
3,8,10,Bedroom Lamp ON Green 40% Faucet OFF,Playroom Lamp ON Purple 88%,Kitchen AC ON 24°C Lamp ON Green 78% Speaker OFF,NaN,NaN
5,17,19,Kitchen Lamp OFF TV ON 53% AC ON 22°C,Playroom AC OFF TV OFF Lamp ON Green 55%,NaN,NaN,NaN
11,6,7,Bathroom Lamp ON Blue 65% Speaker ON 60% Fauce...,Bedroom AC ON 24°C Lamp ON Blue 74%,NaN,NaN,NaN

In [4]:
data['routine_data'] = data[data.columns[:]].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1
)

In [5]:
data = data.drop(['routine_info_1', 'routine_info_2','routine_info_3','routine_info_4','routine_info_5'], axis=1)
data

    start_time  end_time                                       routine_data
0            9        10  9,10,Bedroom AC ON 18°C Speaker OFF Lamp OFF,L...
2           17        19  17,19,Kitchen Lamp OFF Speaker ON 95% TV OFF,L...
3            8        10  8,10,Bedroom Lamp ON Green 40% Faucet OFF,Play...
5           17        19  17,19,Kitchen Lamp OFF TV ON 53% AC ON 22°C,Pl...
11           6         7  6,7,Bathroom Lamp ON Blue 65% Speaker ON 60% F...
13          19        21                           19,21,Kitchen Faucet OFF
15           8         9                             8,9,Kitchen AC ON 23°C
19          17        19               17,19,Living_Room Lamp ON Purple 73%
20           7         8  7,8,Bedroom Lamp ON Red 95% Faucet ON 10oz AC ...
26          20        21    20,21,Playroom TV OFF Speaker ON 69% AC ON 21°C
31          20        22  20,22,Living_Room TV ON 66% Lamp ON Purple 79%...
32           6         7  6,7,Bedroom Lamp OFF Faucet OFF,Kitchen AC OFF...
34          17        19  17,19,Kitchen Lamp OFF TV OFF,Living_Room Lamp...
35           8        10                   8,10,Bathroom Lamp ON Violet 93%
36          15        17  15,17,Playroom TV OFF Lamp ON Green 99% AC ON ...
38           8        10   8,10,Playroom Lamp OFF Faucet OFF Speaker ON 76%
40           7         8  7,8,Playroom TV ON 64%,Kitchen Faucet ON 18oz ...
42           8         9  8,9,Kitchen AC ON 16°C Lamp ON Purple 57% Fauc...
43           9        11                                9,11,Bedroom AC OFF
47          15        17       15,17,Living_Room Lamp ON Red 38% AC ON 17°C
49           9        10  9,10,Bathroom Faucet ON 11oz Lamp ON Purple 56...
50          17        18  17,18,Bedroom Speaker ON 34%,Playroom Lamp OFF...
52          17        18     17,18,Bedroom AC ON 25°C TV OFF Faucet ON 18oz
56          20        22       20,22,Living_Room AC ON 24°C,Playroom TV OFF
57           7         9                            7,9,Playroom AC ON 18°C
59          16        18            16,18,Playroom Speaker ON 71% TV ON 68%
60          19        21  19,21,Living_Room AC OFF Faucet ON 4oz TV ON 4...
65          19        21  19,21,Bedroom Speaker ON 91%,Bathroom Lamp OFF...
67          17        18               17,18,Bathroom Faucet ON 17oz AC OFF
68          10        11                       10,11,Bedroom Speaker ON 54%
71          15        16  15,16,Playroom Lamp ON Red 34%,Living_Room TV ...
73           9        10  9,10,Bathroom Faucet OFF Lamp OFF TV ON 36%,Be...
75          10        12         10,12,Bedroom TV OFF Faucet ON 17oz AC OFF
76          10        12                           10,12,Bedroom AC ON 21°C
80           7         9            7,9,Kitchen Faucet ON 5oz AC OFF TV OFF
81          15        16  15,16,Living_Room AC ON 25°C,Kitchen Faucet ON...
82           5         6  5,6,Living_Room Lamp OFF Faucet ON 13oz TV OFF...
83          19        21                 19,21,Living_Room AC OFF TV ON 32%
86          16        17                        16,17,Living_Room TV ON 97%
88          18        19  18,19,Kitchen Lamp OFF,Playroom Lamp OFF AC ON...
89           9        10  9,10,Bathroom Lamp ON Blue 56%,Living_Room AC ...
91           9        11  9,11,Kitchen Lamp OFF,Living_Room TV OFF Fauce...
94          10        12    10,12,Playroom TV ON 45%,Bedroom Speaker ON 89%
95          17        18                17,18,Living_Room Lamp ON Green 37%
97          16        17  16,17,Playroom Speaker OFF Faucet OFF AC OFF L...
98          15        17  15,17,Kitchen Faucet OFF AC ON 23°C,Bedroom La...

In [6]:
from sklearn import preprocessing
oe = preprocessing.OrdinalEncoder()
data = oe.fit_transform(data)
data

array([[ 4.,  4., 43.],
       [ 8., 10., 16.],
       [ 3.,  4., 36.],
       [ 8., 10., 18.],
       [ 1.,  1., 29.],
       [10., 11., 22.],
       [ 3.,  3., 39.],
       [ 8., 10., 19.],
       [ 2.,  2., 31.],
       [11., 11., 25.],
       [11., 12., 27.],
       [ 1.,  1., 30.],
       [ 8., 10., 17.],
       [ 3.,  4., 35.],
       [ 6.,  8.,  8.],
       [ 3.,  4., 37.],
       [ 2.,  2., 32.],
       [ 3.,  3., 38.],
       [ 4.,  5., 44.],
       [ 6.,  8.,  7.],
       [ 4.,  4., 41.],
       [ 8.,  9., 14.],
       [ 8.,  9., 13.],
       [11., 12., 26.],
       [ 2.,  3., 34.],
       [ 7.,  9., 11.],
       [10., 11., 23.],
       [10., 11., 21.],
       [ 8.,  9., 12.],
       [ 5.,  5.,  0.],
       [ 6.,  7.,  5.],
       [ 4.,  4., 40.],
       [ 5.,  6.,  2.],
       [ 5.,  6.,  1.],
       [ 2.,  3., 33.],
       [ 6.,  7.,  4.],
       [ 0.,  0., 28.],
       [10., 11., 24.],
       [ 7.,  8.,  9.],
       [ 9., 10., 20.],
       [ 4.,  4., 42.],
       [ 4.,  5., 45.],
       [ 5.,  6.,  3.],
       [ 8.,  9., 15.],
       [ 7.,  8., 10.],
       [ 6.,  8.,  6.]])

In [7]:
from kmodes.kmodes import KModes

In [8]:
km_cao = KModes(n_clusters=2, init = "Cao", n_init = 1, verbose=1)
fitClusters_cao = km_cao.fit_predict(data)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 0, cost: 110.0

In [9]:
fitClusters_cao

array([0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0], dtype=uint16)

In [10]:
clusterCentroidsDf = pd.DataFrame(km_cao.cluster_centroids_)
# clusterCentroidsDf.columns = data.columns
clusterCentroidsDf

     0     1     2
0  4.0   4.0   0.0
1  8.0  10.0  12.0

In [11]:
result = pd.DataFrame(oe.inverse_transform(clusterCentroidsDf))
result.columns = ["start_time","end_time","routine_info"]
result

  start_time end_time                          routine_info
0          9       10          10,11,Bedroom Speaker ON 54%
1         17       19  17,18,Bathroom Faucet ON 17oz AC OFF

In [12]:
new = result["routine_info"].str.split(",", expand = True)
new.insert(0, "start_time", result["start_time"], True)
new.insert(1, "end_time", result["end_time"], True)
for i in range(0, 5):
    new.rename(columns={i:'routine_info_'+str(i+1)},inplace=True)
new.to_csv("predicted_routines.csv", encoding = "utf-8", index=False)
new

,start_time,end_time,routine_info_1,routine_info_2,routine_info_3
0,9,10,10,11,Bedroom Speaker ON 54%
1,17,19,17,18,Bathroom Faucet ON 17oz AC OFF